/* 変数セット
------------------------------------------------------------ */
@use "forward" as *;


/*
============================================================

全体共通

============================================================
*/

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

html, body {
  width: 100%;
  height: 100%;
  display: block;
  overflow-x: clip;
}

body {
	font-family: $f-main;
	color: $clr-text;
	font-size: 0.875rem;
	font-feature-settings: 'palt';

	@media screen and (min-width: $brake_md) {
		font-size: 1.125rem;
	}
}

h1,
h2,
h3,
p {
	margin: 0;
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

th {
	font-weight: 400;
}

.showSP {
	display: block;

	@media screen and (min-width: $brake_md) {
		display: none;
	}
}

.showPC {
	display: none;

	@media screen and (min-width: $brake_md) {
		display: block;
	}
}

/*** layout ***/
.l-wrap {
	width: 90%;
	max-width: 60rem;
	margin: 0 auto;

	&--sp {
		width: 90%;
		max-width: 60rem;
		margin: 0 auto;

		@media screen and (min-width: $brake_md) {
			width: 100%;
			max-width: none;
		}
	}

	&--pc {
		width: 100%;
		max-width: none;

		@media screen and (min-width: $brake_md) {
			width: 90%;
			max-width: 60rem;
			margin: 0 auto;
		}
	}
}

.l-inner {
	width: 90%;
	max-width: 43.75rem;
	margin: 0 auto;
}

.l-space {
	height: 4.75rem;

	@media screen and (min-width: $brake_md) {
		height: 7.375rem;
	}
}
/*** /layout ***/


.none {
  &tb {
    display: none!important;
    @media screen and (min-width: $brake_xl+1) {
      display: block!important;
    }
  }
  &sp {
    display: none!important;
    @media screen and (min-width: $brake_md+1) {
      display: block!important;
    }
  }
  &pc {
    display: block!important;
    @media screen and (min-width: $brake_sl+1) {
      display: none!important;
    }
  }
}

.only {
  &sp {
    display: none!important;
    @media screen and (max-width: $brake_md) {
      display: block!important;
    }
  }
}