@charset "UTF-8";
body {
  background-color: var(--white);
  color: var(--gray1000);
}
body ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body ::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
body ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

/* 基本設定 */
h2, h3, p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

#cmo_pitari_banner {
  background: white;
}

.bg_pattern {
  background-image: url(../img/static/campaign/anime202410/bg_pattern.png);
  background-size: 54px;
  background-position: top left;
}

picture {
  display: inline-block;
}

.responsive-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.dispSP {
  display: block !important;
}

.dispPC {
  display: none !important;
}

img {
  max-width: 100%;
  width: 100%;
}

.breadcrumb {
  background: #fff;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.breadcrumb::-webkit-scrollbar {
  display: none;
}

#rex-ceb-01 {
  text-align: center;
  margin: 0 auto;
}
#rex-ceb-01 .Alert {
  font-size: 14px;
}
#rex-ceb-01 .CampaignButton {
  margin-top: 16px;
}
#rex-ceb-01 .CampaignButton a {
  width: 100% !important;
  min-width: 100% !important;
  font-weight: 800;
  box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.2);
}
#rex-ceb-01 .CampaignButton a > span {
  font-size: 3.2vw !important;
}
#rex-ceb-01 .CampaignButton a:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}

/* フローティングボタン */
.nav_page {
  position: fixed;
  right: -100px;
  bottom: 20px;
  width: 100px;
  z-index: 100;
  transition: all 0.5s ease;
}
@media screen and (min-width: 521px) {
  .nav_page {
    right: -160px;
    width: 160px;
  }
}
.nav_page.active {
  right: -10px;
}
.nav_page ul {
  padding: 0;
  margin: 0;
}
.nav_page ul li {
  display: inline-block;
  margin-bottom: 8px;
}
.nav_page ul li a {
  text-align: center;
  display: inline-block;
}
.nav_page ul li a img {
  vertical-align: top;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
.nav_page ul li:last-child {
  margin-bottom: 0;
}

/* mainHeaderSec */
.mainHeaderSec {
  padding: 4.666vw 2.667vw;
}
.mainHeaderSec h1 {
  margin: 0;
  text-align: center;
}
.mainHeaderSec h1 img {
  width: 100%;
}
.mainHeaderSec .copyright-Txt {
  text-align: center;
  font-size: 0.36rem;
  margin: 0.4rem 1rem 0;
}

/* pageNavigation */
nav.pageNavigation {
  padding: 0 2.266vw;
  text-align: center;
  margin: 0 auto;
  background-repeat: repeat-x;
  background-image: url(../img/static/campaign/anime202410/bg_page_nav_sp.png);
  background-size: contain;
  height: 18.666vw;
  display: flex;
  align-items: center;
}
nav.pageNavigation ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}
nav.pageNavigation ul li {
  flex: 1;
  text-align: center;
  border: none;
  cursor: pointer;
  height: 9.866vw;
}
nav.pageNavigation ul li:not(:last-child) {
  margin-right: 8px;
}
nav.pageNavigation ul li a {
  display: inline-block;
}
nav.pageNavigation ul li img {
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  height: auto;
}

/* wrapper_contents */
.wrapper_contents {
  margin-top: 6.667vw;
  padding-bottom: 6.667vw;
  margin-left: 2.667vw;
  margin-right: 2.667vw;
}

#slider-Area {
  background-color: #fff;
  padding-bottom: 0.2rem;
  margin: 0 auto;
}
#slider-Area .swiper-container {
  position: relative;
}
#slider-Area a {
  text-decoration: none;
  color: #181818;
}
#slider-Area .swiper-slide {
  background-color: #F4F4F4;
  border-radius: 6px;
  padding: 1rem 0.8rem;
}
#slider-Area .swiper-slide p.closed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
}
#slider-Area .swiper-slide img.btn {
  margin-top: 1rem;
}
#slider-Area .swiper-pagination {
  bottom: -40px !important;
}
#slider-Area .swiper-pagination-bullet {
  /*ドットの色を変更*/
  background-color: #000;
}
#slider-Area .swiper-pagination-bullet-active {
  background-color: #F85918;
}
#slider-Area .schedule-box {
  display: flex;
  width: 100%;
  margin-bottom: 0.2rem;
}
#slider-Area .schedule-box .program-edition {
  display: flex;
  width: 3rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem 0.3rem 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #F85918;
  color: #fff;
  font-weight: bold;
  font-size: 0.6rem;
}
#slider-Area .schedule-box p {
  font-weight: bold;
  font-size: 0.5rem;
  width: 100%;
  padding-top: 0.2rem;
  padding-left: 0.4rem;
}
#slider-Area .slider-Area-txt-b {
  width: 78%;
  font-weight: bold;
  margin: 2rem auto 1.4rem;
  text-align: justify;
  font-size: 0.6rem;
}
#slider-Area .slider-Area-txt {
  width: 78%;
  margin: 3rem auto 1.6rem;
  text-align: justify;
  font-size: 0.6rem;
}

.contents {
  margin: 7vw auto 0;
  background: #fff;
}
.contents h2.ttl picture img {
  margin-top: -7px;
}
.contents .contents_inner {
  margin: 7vw 4.6vw 0;
  background: #f4f4f4;
  border-radius: 2.667vw;
  padding: 4.26vw 2.667vw 7vw;
}
.contents .btn_cta_container {
  text-align: center;
  display: block;
  margin: 5.333vw auto 0;
}
.contents .btn_cta_container .btn_cta {
  display: inline-block;
}
.contents .btn_cta_container .btn_cta .image_btn {
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  max-width: 69.4vw;
  box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.2);
}
.contents .btn_cta_container .btn_cta-closed {
  max-width: 680px;
  margin: 0 auto;
}
.contents .btn_cta_container .btn_cta-closed .image_btn {
  border-radius: 57px;
  text-align: center;
  max-width: 69.4vw;
}

#cpn_02.contents {
  padding-bottom: 7.333vw;
}
#cpn_02 .CampaignEntryButton_campaignButton__n6hK5 {
  width: 88%;
  margin: 32px auto;
}
#cpn_02 .main_container {
  margin: 5.86vw 0;
  text-align: center;
}
#cpn_02 .notes_container {
  margin-top: 6.4vw;
  text-align: left;
}
#cpn_02 .notes_container ul {
  padding: 0;
  margin: 0;
}
#cpn_02 .notes_container ul li {
  font-size: 12px;
  text-align: left;
}
@media screen and (min-width: 521px) {
  #cpn_02 .notes_container ul li {
    font-size: 20px;
  }
}
#cpn_02 .btn_cta_container {
  margin-top: 6.4vw 0;
}
#cpn_02 picture.step3, #cpn_02 picture.step4 {
  margin: 0 auto;
  width: 50%;
}
#cpn_02 .cond {
  padding: 6vw 7vw;
  text-align: center;
}
#cpn_02 .cond picture {
  width: 87.4%;
}
#cpn_02 .cond-txt {
  margin: 0 4.6vw;
  text-align: center;
  font-size: 0.72rem;
  font-weight: bold;
}
#cpn_02 .cond-txt span {
  color: #BD1319;
}

#cpn_03.contents {
  padding-bottom: 7vw;
}
#cpn_03.contents .program_inner {
  margin: 7vw 4.6vw 0;
  background: #f4f4f4;
  border-radius: 2.667vw;
  padding: 8.26vw 6vw 7vw;
}
#cpn_03.contents .program-edition {
  display: flex;
  width: 4rem;
  margin-bottom: 0.6rem;
  padding: 0.15rem 0.5rem 0.08rem;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #F85918;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
}
#cpn_03.contents .program-schedule {
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
}
#cpn_03.contents .program-schedule span {
  font-size: 1.2rem;
  display: block;
  font-size: 0.9rem;
}
#cpn_03.contents .program-info-ttl {
  font-weight: bold;
  font-size: 0.8rem;
}
#cpn_03.contents .program-info-txt {
  margin-top: 0.6rem;
  font-size: 0.7rem;
  text-align: justify;
}
#cpn_03.contents .program-banner {
  margin: 0.8rem 0;
}
#cpn_03.contents h3 {
  margin: 2.2rem auto 0;
  text-align: center;
  line-height: 1.8;
  font-size: 1.1rem;
}
#cpn_03.contents h3 .marker {
  background: linear-gradient(transparent 66%, #f5c6b2 66%);
}
#cpn_03.contents .program-wrap .program-pc-box {
  margin-top: 1rem;
}
#cpn_03.contents .program-wrap h4.sub-ttl {
  margin: 0.8rem 0 0.4rem;
  font-size: 0.8rem;
}
#cpn_03.contents .program-wrap p {
  font-size: 0.7rem;
}
#cpn_03.contents p.note {
  margin: 1rem auto 0;
  font-size: 0.5rem;
  text-align: left;
  max-width: 69.4vw;
}

#cpn_04 .notes_container {
  margin: 5.4vw auto 0;
  width: 77.4vw;
  font-size: 14px;
}
@media screen and (min-width: 521px) {
  #cpn_04 .notes_container {
    font-size: 20px;
  }
}

#cpn_04 .cpn_inner, #cpn_05 .cpn_inner {
  padding: 5.4vw 4.6vw 7vw;
}

/* キャンペーンルール */
.contents_campaign_overview .campaign_inner {
  padding: 0 4.6vw 7vw;
}
.contents_campaign_overview h3 {
  margin: 5vw 0 2.1vw;
  font-size: 16px;
}
@media screen and (min-width: 521px) {
  .contents_campaign_overview h3 {
    font-size: 20px;
  }
}
.contents_campaign_overview h3.text-align {
  text-align: left;
}
.contents_campaign_overview h3.x-follow {
  margin-top: 10.5vw;
}
.contents_campaign_overview dl {
  margin: 0;
}
.contents_campaign_overview dl + h3 {
  margin-top: 80px;
}
.contents_campaign_overview dl dt,
.contents_campaign_overview dl dd {
  padding: 16px;
  font-size: 14px;
  color: #2d3539;
  text-align: left;
  margin: 0;
}
@media screen and (min-width: 521px) {
  .contents_campaign_overview dl dt,
  .contents_campaign_overview dl dd {
    font-size: 20px;
  }
}
.contents_campaign_overview dl dt {
  background: #f1f1f1;
  font-weight: bold;
}
.contents_campaign_overview dl dd dt,
.contents_campaign_overview dl dd dd {
  color: #2d3539;
  text-align: left;
}
.contents_campaign_overview dl dd dt {
  background: #f1f1f1;
  font-weight: bold;
}
.contents_campaign_overview dl dd:last-child {
  margin-bottom: 0;
}
.contents_campaign_overview dl:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 426px) {
  /* mainHeaderSec */
  .mainHeaderSec {
    padding: 4.666vw 2.667vw;
  }
  .mainHeaderSec .copyright-Txt {
    font-size: 0.5rem;
  }
  /* wrapper_contents */
  #slider-Area .swiper-slide {
    padding: 1.4rem 0.8rem;
  }
  #slider-Area .schedule-box {
    margin-bottom: 0.3rem;
  }
  #slider-Area .schedule-box .program-edition {
    display: flex;
    width: 5rem;
    padding: 0.2rem 0.1rem 0.1rem;
    border-radius: 8px;
    font-size: 0.9rem;
  }
  #slider-Area .schedule-box p {
    font-size: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
  }
  #slider-Area .slider-Area-txt {
    font-size: 0.7rem;
  }
  #cpn_02.contents {
    padding-bottom: 8.333vw;
  }
  #cpn_02 .cond-txt {
    font-size: 0.9rem;
  }
  #cpn_03.contents .program_inner {
    padding: 8.26vw 8vw 7vw;
  }
  #cpn_03.contents .program-edition {
    border-radius: 8px;
  }
  #cpn_03.contents .program-info-ttl {
    font-size: 1rem;
  }
  #cpn_03.contents .program-schedule {
    font-size: 1rem;
  }
  #cpn_03.contents .program-schedule span {
    font-size: 1rem;
  }
  #cpn_03.contents .program-info-txt {
    margin-top: 0.4rem;
    font-size: 0.8rem;
  }
  #cpn_03.contents .program-wrap h4.sub-ttl {
    margin: 1rem 0;
  }
  #cpn_03.contents .program-wrap p {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 600px) {
  /* mainHeaderSec */
  .mainHeaderSec {
    padding: 4.666vw 2.667vw;
  }
  .mainHeaderSec .copyright-Txt {
    font-size: 0.5rem;
  }
  /* wrapper_contents */
  #slider-Area .swiper-slide {
    padding: 1.8rem 1.2rem;
    border-radius: 14px;
  }
  #slider-Area .schedule-box {
    margin-bottom: 0.3rem;
  }
  #slider-Area .schedule-box .program-edition {
    display: flex;
    width: 7rem;
    padding: 0.2rem 0.1rem 0.1rem;
    border-radius: 8px;
    font-size: 1.4rem;
  }
  #slider-Area .schedule-box p {
    font-size: 0.8rem;
    padding-top: 0.6rem;
    padding-left: 0.6rem;
  }
  #slider-Area .slider-Area-txt {
    font-size: 0.9rem;
  }
  #slider-Area .slider-Area-txt-b {
    font-size: 1rem;
  }
  #cpn_02 .cond-txt {
    font-size: 1.2rem;
  }
  #cpn_03.contents .program_inner {
    padding: 8.26vw 8vw 7vw;
  }
  #cpn_03.contents .program-edition {
    width: 6rem;
    font-size: 1.2rem;
    border-radius: 8px;
  }
  #cpn_03.contents .program-info-ttl {
    font-size: 1.2rem;
  }
  #cpn_03.contents .program-schedule {
    font-size: 1.2rem;
  }
  #cpn_03.contents .program-schedule span {
    font-size: 1.4rem;
  }
  #cpn_03.contents .program-info-txt {
    margin-top: 0.4rem;
    font-size: 1rem;
  }
  #cpn_03.contents h3 {
    margin-top: 2rem;
    width: 80%;
  }
  #cpn_03.contents .program-wrap h4.sub-ttl {
    margin: 1rem 0;
    font-size: 1.2rem;
  }
  #cpn_03.contents .program-wrap p {
    font-size: 1.04rem;
  }
  #cpn_03.contents p.note {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) {
  .dispSP {
    display: none !important;
  }
  .dispPC {
    display: block !important;
  }
  img {
    max-width: 100%;
    width: auto;
  }
  #rex-ceb-01 {
    width: 600px;
  }
  #rex-ceb-01 .CampaignButton {
    margin-top: 32px;
  }
  #rex-ceb-01 .CampaignButton a {
    box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.2);
  }
  #rex-ceb-01 .CampaignButton a > span {
    font-size: 28px !important;
  }
  #rex-ceb-01 .CampaignButton a:hover {
    box-shadow: none;
    transform: translate(3px, 3px);
  }
  body {
    min-width: 1040px;
  }
  .wrapper {
    margin: 0 auto;
  }
  nav.pageNavigation {
    padding: 50px 0;
    background-image: url(../img/static/campaign/anime202410/bg_page_nav_pc.png);
    height: 188px;
    min-width: 1040px;
  }
  nav.pageNavigation ul {
    width: 1040px;
  }
  nav.pageNavigation ul li {
    height: auto;
  }
  nav.pageNavigation ul li:not(:last-child) {
    margin-right: 10px;
  }
  nav.pageNavigation ul li img {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  nav.pageNavigation ul li img:hover {
    transform: scale(1.05);
  }
  .bg_pattern {
    background-size: 88px;
  }
  .wrapper_contents {
    margin-top: 80px;
    padding-bottom: 80px;
  }
  .mainHeaderSec {
    padding: 0;
    text-align: center;
    min-width: 1040px;
  }
  .mainHeaderSec h1 {
    width: 1040px;
    padding: 66px 0 0;
    margin: 0 auto;
  }
  .mainHeaderSec .copyright-Txt {
    margin-bottom: 56px;
    font-size: 0.64rem;
  }
  .nav_page {
    right: -200px;
    width: 200px;
    bottom: 60px;
  }
  .nav_page.active {
    right: 0px;
  }
  .nav_page ul {
    opacity: 0.9;
  }
  .nav_page ul:hover {
    opacity: 1;
  }
  .nav_page ul li {
    margin-bottom: 16px;
  }
  .nav_page ul li a {
    position: relative;
    right: -10px;
  }
  .nav_page ul li a:hover {
    right: 0;
  }
  .contents {
    width: 100%;
    max-width: 1040px;
    margin-top: 60px;
  }
  .contents .contents_inner {
    margin: 64px 80px 0;
    border-radius: 20px;
    padding: 64px 60px;
  }
  .contents .btn_cta_container {
    margin: 48px auto 0;
  }
  .contents .btn_cta_container .btn_cta {
    max-width: 680px;
    transition: all 0.3s ease;
  }
  .contents .btn_cta_container .btn_cta .image_btn {
    text-align: center;
    box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.15s;
    max-width: 680px;
  }
  .contents .btn_cta_container .btn_cta .image_btn:hover {
    box-shadow: none;
    transform: translate(3px, 3px);
  }
  #slider-Area {
    width: 100%;
    max-width: 1040px;
  }
  #slider-Area .swiper-container {
    width: 720px;
    margin: 0 auto;
  }
  #slider-Area .swiper-slide {
    padding: 2rem;
  }
  #slider-Area .swiper-slide p.closed {
    font-size: 2rem;
  }
  #slider-Area .schedule-box .program-edition {
    width: 5rem;
    font-size: 1.2rem;
  }
  #slider-Area .schedule-box p {
    padding-top: 0.2rem;
    font-size: 1.08rem;
  }
  #slider-Area .swiper-slide img.btn {
    margin-top: 1.8rem;
  }
  #slider-Area .slider-Area-txt-b {
    width: 720px;
    margin: 2rem auto 1.4rem;
    font-size: 1.4rem;
  }
  #slider-Area .slider-Area-txt {
    width: 720px;
    margin: 3rem auto 1.6rem;
    font-size: 1.2rem;
  }
  #cpn_02 .main_container {
    margin: 64px 0 0;
  }
  #cpn_02 .main_container img {
    text-align: center;
    margin: 0 auto;
    width: 248px;
  }
  #cpn_02 .notes_container {
    margin-top: 64px;
    width: 720px;
  }
  #cpn_02 .notes_container ul li .br-sp {
    display: none;
  }
  #cpn_02 #cpn_02_01 .notes_container {
    margin: 56px auto 0;
  }
  #cpn_02 .btn_cta_container {
    margin-top: 56px;
  }
  #cpn_02 picture.step3, #cpn_02 picture.step4 {
    width: 342px;
  }
  #cpn_02 picture.step3 img, #cpn_02 picture.step4 img {
    width: 100%;
  }
  #cpn_02 .cond {
    padding: 64px 0 64px;
  }
  #cpn_02 .cond picture {
    width: 659px;
  }
  #cpn_02 .cond-txt {
    text-align: center;
    font-size: 2rem;
  }
  #cpn_02.contents {
    padding-bottom: 5.333vw;
  }
  #cpn_03 .contents_inner .main_container .ttl-wrap h3 {
    font-weight: bold;
  }
  #cpn_03.contents {
    padding-bottom: 64px;
  }
  #cpn_03.contents .program_inner {
    margin: 64px 80px;
    padding: 64px 60px;
  }
  #cpn_03.contents .program-edition {
    width: 139px;
    height: 54px;
    margin-bottom: 24px;
    padding: 0.15rem 0.5rem 0.08rem;
    border-radius: 8px;
    font-size: 2rem;
  }
  #cpn_03.contents .program-schedule {
    font-size: 1.8rem;
  }
  #cpn_03.contents .program-schedule span {
    font-size: 2rem;
  }
  #cpn_03.contents .program-info-ttl {
    margin-top: 32px;
    font-size: 1.5rem;
  }
  #cpn_03.contents .program-info-txt {
    font-size: 1.4rem;
  }
  #cpn_03.contents h3 {
    margin: 68px auto 30px;
    width: 100%;
    font-size: 1.9rem;
  }
  #cpn_03.contents h3.bobobo {
    width: 80%;
  }
  #cpn_03.contents .program-wrap {
    display: flex;
    justify-content: space-between;
  }
  #cpn_03.contents .program-wrap .program-pc-box {
    width: 370px;
  }
  #cpn_03.contents .program-wrap h4.sub-ttl {
    font-size: 1.3rem;
    margin-bottom: 24px;
  }
  #cpn_03.contents .program-wrap p {
    font-size: 1.2rem;
    text-align: justify;
  }
  #cpn_03.contents h4.sub-ttl {
    font-size: 1.5rem;
  }
  #cpn_03.contents p.note {
    margin-top: 48px;
    font-size: 1.2rem;
  }
  #cpn_04 .cpn_inner, #cpn_05 .cpn_inner {
    padding: 64px 80px;
  }
  #cpn_04 .notes_container {
    margin: 64px auto 0;
    width: 740px;
    font-size: 20px;
  }
  .contents_campaign_overview .campaign_inner {
    padding: 64px 60px;
  }
  .contents_campaign_overview h3 {
    margin: 0 0 16px;
    font-size: 24px;
    font-weight: bold;
  }
  .contents_campaign_overview h3.text-align {
    text-align: center;
  }
  .contents_campaign_overview dl {
    display: flex;
  }
  .contents_campaign_overview dl dt {
    font-weight: bold;
    background: inherit;
    min-width: 220px;
    padding: 24px;
    font-size: 16px;
    color: #2d3539;
  }
  .contents_campaign_overview dl dd {
    padding: 24px;
    font-size: 16px;
    color: #2d3539;
  }
  .contents_campaign_overview div.cp1 dl:nth-child(odd), .contents_campaign_overview div.cp2 dl:nth-child(odd) {
    background: #f9f9f9;
  }
  .contents_campaign_overview h3.x-follow {
    margin-top: 180px;
    text-align: center;
  }
}/*# sourceMappingURL=campaign_anime202410.css.map */