body {
  background-color: var(--white);
  color: var(--gray1000);
}
body ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body ::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
body ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.dispSP {
  display: block !important;
}

.dispPC {
  display: none !important;
}

.mainHeaderSec.mainHeaderSecThanks h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
  max-width: 100%;
  width: 100%;
}

.fontWeightNormal {
  font-weight: 400;
}

.fontWeightBold {
  font-weight: 800;
}

.txtSmall {
  font-size: 80%;
  line-height: 80%;
}

.txtUnderline {
  text-decoration: underline;
}

.txtCenter {
  text-align: center;
}

.ib {
  display: inline-block;
}

.hidden {
  display: none;
}

.marginY_Large {
  margin-top: 24px;
  margin-bottom: 24px;
}

.nav_page {
  position: fixed;
  right: -100px;
  bottom: 20px;
  width: 100px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav_page.active {
  right: 0;
}
.nav_page ul {
  padding: 0;
  margin: 0;
}
.nav_page ul li {
  display: inline-block;
  margin-bottom: 4px;
}
.nav_page ul li a {
  text-align: center;
  display: inline-block;
}
.nav_page ul li a img {
  border-radius: 10px 0 0 10px;
  vertical-align: top;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
.nav_page ul li:last-child {
  margin-bottom: 0;
}

.contents {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 24px;
}
.contents.contents_cpn_04 .contents_inner {
  padding-top: 16px;
}
.contents.contents_cpn_05 .contents_inner {
  padding-top: 10px;
}
.contents.contents_thanks {
  padding: 0 12px;
}
.contents.contents_thanks h2 {
  font-size: 4.8vw;
}
.contents.contents_thanks .contents_inner {
  margin: 0 auto;
  text-align: center;
  padding: 40px 12px;
}
.contents .contents_inner {
  overflow: hidden;
  margin: 0 16px;
  padding-bottom: 24px;
  max-width: 1000px;
  background: #fff;
  border-radius: 8px;
  padding-bottom: 16px;
}
.contents h2,
.contents h3 {
  margin: 0;
}
.contents h3 {
  margin: 0 16px;
}
.contents .txt_description {
  padding: 4px 12px 0;
  text-align: center;
  font-weight: 800;
  font-size: 13px;
  margin-top: 0;
}
.contents.contents_campaign_overview .contents_inner {
  padding-left: 0;
  padding-right: 0;
}

.image_container {
  padding: 0 12px;
  margin: 0 auto;
}
.image_container.about_container {
  background: #f5f5f5;
  margin: 0 10px;
  padding: 8px;
}
.image_container.about_container .about_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 10px;
  margin-top: 10px;
}
.image_container.about_container .about_box .img_box {
  padding: 0;
}
.image_container.items_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 10px;
}
.image_container.items_container label img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 6px solid transparent;
  border-radius: 8px;
}
.image_container.items_container label img:hover {
  cursor: pointer;
}
.image_container.items_container input[type=radio] {
  display: none;
}
.image_container.items_container input[type=radio]:checked + label img {
  border-color: rgb(0, 0, 197);
  border-radius: 4px;
}

.btn_cta_container {
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-left: 12px;
  margin-right: 12px;
}
.btn_cta_container .btn_cta {
  display: inline-block;
}
.btn_cta_container .btn_cta .image_btn {
  cursor: pointer;
  border-radius: 36px;
  text-align: center;
  max-width: 70vw;
  -webkit-box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.btn_return {
  display: block;
  margin-top: 60px;
}
.btn_return a {
  max-width: 76vw;
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
  font-size: 4.5vw;
  -webkit-box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 40px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  background-color: #bd1319;
  text-align: center;
  padding: 10px;
  color: #fff;
  display: block;
  text-decoration: none;
}

.notes_container {
  margin: 20px 12px 0;
}
.notes_container ul {
  padding: 0;
  margin: 0;
}
.notes_container ul li {
  font-size: 10px;
}

nav.pageNavigation {
  margin: 12px 8px;
}
nav.pageNavigation ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}
nav.pageNavigation ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border: none;
  cursor: pointer;
}
nav.pageNavigation ul li:not(:last-child) {
  margin-right: 8px;
}
nav.pageNavigation ul li img {
  max-width: 100%;
  height: auto;
}

.bg_pattern {
  background-image: url(../img/static/campaign/year-end2023/bg_pattern.png);
  padding-bottom: 16px;
  background-size: 64px;
  background-position: top center;
}

.mainHeaderSec h1 {
  margin: 0;
  text-align: center;
}
.mainHeaderSec h1 img {
  width: 100%;
}

.cpn_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0;
  margin: 0;
  text-align: center;
}
.cpn_link li {
  background: #ebf7fe;
  margin: 4px 0;
}
.cpn_link li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  color: #2d3539;
  padding: 8px 36px;
  display: block;
}
.cpn_link li a span {
  font-size: 12px;
  display: block;
}

.img_box.img_fluid {
  padding: 0;
}
.img_box img {
  width: 100%;
}

.campaign_info {
  padding: 0 8px;
  font-size: 12px;
  line-height: 160%;
}

.app_info {
  border: 1px solid #c5c8ce;
  padding: 0 0 16px;
  margin: 0 8px 16px;
}
.app_info h2 {
  margin: 0 0 16px;
  text-align: center;
  font-size: 16px;
  line-height: 120%;
  padding: 8px 0;
  background: #bf0000;
  color: #fff;
}
.app_info .rch_logo {
  text-align: center;
  margin: 0 0 16px;
}
.app_info .img_box {
  padding: 0 16px;
}

.app_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 16px;
  margin: 0 8px 16px;
}
.app_link.app_link_col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 16px 0 0;
}
.app_link.app_link_col div {
  text-align: center;
}
.app_link.app_link_col div:first-of-type {
  margin-bottom: 8px;
}
.app_link.app_link_col div a {
  display: inline-block;
  margin: 0 auto;
}
.app_link p {
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  margin: 0 0 8px;
}

.bg_gray {
  background: #f7f7f7;
}

.contents_inner {
  padding: 0;
}
.contents_inner#link_01 {
  padding: 8px 12px;
}
.contents_inner h2.link_head {
  text-align: center;
  margin: 20px auto;
  font-size: 16px;
  color: #2d3539;
}

.campaign_link {
  margin: 0;
  padding: 16px 0;
}
.campaign_link li {
  display: block;
  margin: 4px 16px;
}
.campaign_link li img {
  width: 100%;
}

.campaign_flow {
  background: #fff;
  padding: 16px;
  border: 1px solid #dadce1;
}
.campaign_flow h3 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 8px;
}
.campaign_flow > img {
  width: 100%;
  height: auto;
}
.campaign_flow > p {
  font-size: 14px;
  margin: 8px 0;
}
.campaign_flow > p.small {
  font-size: 10px;
}
.campaign_flow > p:last-child {
  margin-bottom: 0;
}

.campaign_rule dt,
.campaign_rule dd,
.faq dt,
.faq dd {
  padding: 16px;
  font-size: 14px;
  color: #2d3539;
}
.campaign_rule dt,
.faq dt {
  background: #f7f8f9;
  font-weight: bold;
}
.campaign_rule dd,
.faq dd {
  margin: 0;
}
.campaign_rule:last-child,
.faq:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .dispSP {
    display: none !important;
  }
  .dispPC {
    display: block !important;
  }
  .wrapper {
    width: 1280px;
    margin: 0 auto;
  }
  .mainHeaderSec.mainHeaderSecThanks h1 {
    padding: 0;
  }
  .mainHeaderSec.mainHeaderSecThanks h1 img {
    text-align: center;
    margin: 0 auto;
    max-width: 980px;
  }
  nav.pageNavigation {
    margin: 48px 8px;
  }
  nav.pageNavigation ul li:not(:last-child) {
    margin-right: 24px;
  }
  nav.pageNavigation ul li img {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  nav.pageNavigation ul li img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .bg_pattern {
    padding-bottom: 64px;
    background-size: 112px;
  }
  .nav_page {
    right: -200px;
    width: 200px;
    bottom: 60px;
  }
  .nav_page ul {
    opacity: 0.9;
  }
  .nav_page ul:hover {
    opacity: 1;
  }
  .nav_page ul li a {
    position: relative;
    right: -10px;
  }
  .nav_page ul li a:hover {
    right: 0;
  }
  .contents {
    max-width: 1080px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 40px;
  }
  .contents.contents_cpn_04 .contents_inner {
    padding-top: 50px;
  }
  .contents.contents_cpn_05 .contents_inner {
    padding-top: 64px;
  }
  .contents.contents_thanks h2 {
    font-size: 32px;
  }
  .contents.contents_thanks .contents_inner {
    padding: 80px 12px 100px;
    height: auto;
    min-height: auto;
  }
  .contents .contents_inner {
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .contents h2,
  .contents h3 {
    margin: 0;
  }
  .contents .txt_description {
    padding: 0 40px;
    font-size: 18px;
  }
  .contents.contents_campaign_overview .contents_inner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .image_container {
    padding: 0 40px;
  }
  .image_container.about_container {
    margin: 0 40px;
    padding: 18px;
  }
  .image_container.about_container .about_box {
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px;
    margin-top: 20px;
  }
  .image_container.items_container {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
  }
  .image_container.items_container label img:hover {
    border-color: rgb(151, 151, 151);
  }
  .image_container.items_container input[type=radio]:checked + label img {
    border-radius: 8px;
  }
  .btn_cta_container {
    margin-top: 54px;
    margin-left: 0;
    margin-right: 0;
  }
  .btn_cta_container .btn_cta {
    max-width: 600px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .btn_cta_container .btn_cta .image_btn {
    border-radius: 36px;
    text-align: center;
    -webkit-box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    max-width: 600px;
  }
  .btn_cta_container .btn_cta .image_btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  .btn_return {
    margin-top: 60px;
  }
  .btn_return a {
    font-size: 24px;
    max-width: 600px;
    padding: 16px;
  }
  .btn_return a:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  .notes_container {
    margin: 48px 40px 0;
  }
  .notes_container ul li {
    font-size: 14px;
  }
  .contents_inner {
    padding: 8px 0;
  }
  .contents_inner h2.link_head {
    margin: 24px auto;
    font-size: 24px;
  }
  .campaign_rule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .campaign_rule:nth-child(2n) {
    background: #f7f8f9;
  }
  .campaign_rule dt,
  .campaign_rule dd {
    padding: 16px;
    font-size: 14px;
    color: #2d3539;
  }
  .campaign_rule dt {
    font-weight: bold;
    background: inherit;
    min-width: 200px;
  }
  .campaign_rule dd {
    margin: 0;
  }
}