/*
============================================================

ベース

============================================================
*/


/* basic
------------------------------------------------------------ */
@use "basic" as *;


/*
============================================================

CSS変数（カスタムプロパティ）

============================================================
*/
:root {
	--brand-color: #bf0000;
	--brand-color__hover: #e80000;
	--white: #fff;
	--gray100: #f7f7f7;
	--gray200: #ebebeb;
	--gray300: #d1d1d1;
	--gray400: #b6b6b6;
	--gray500: #9c9c9c;
	--gray600: #828282;
	--gray700: #686868;
	--gray800: #4d4d4d;
	--gray900: #333;
	--black: #000;
	--pink-mobile: #ff008c;
	--link-text: #0085c7;
	--link-text__hover: #006a9e;
	--main-text: #333;
	--notes: #5f5f5f;
	--red: #e30119;
}
